# Vim swap files ignore
*.swp

# Crud from autoreconf
aclocal.m4
configure
compile
config.log
config.status
install-sh
Makefile
Makefile.in
Makefile.install
missing
output.*
requests
traces.*
*.o

# Exclude binaries
hello